
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title>AAKASH INSTITUTE</title>
    <link rel="icon" href="/images/logo.png">
  </head>
  <body>
    <nav class="navbar navbar-expand-md bg navbar-dark fixed-top"> 
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#collapse_Navbar"> 
            <span class="navbar-toggler-icon"></span> 
        </button> 
          
        <a href="/home">
            <img src="images/nav_logo.png" class="logo">
        </a>
        <div class="collapse navbar-collapse" id="collapse_Navbar"> 
            <ul class="navbar-nav ml-auto">

                <li class="nav-item"> 
                    <a class="nav-link" href="/home" style="color: aliceblue; font-size: 20px; font-family: fantasy;">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/about" style="color: aliceblue; font-size: 20px; font-family: fantasy;">AboutUs!</a>
                </li>

                <li class="nav-item"> 
                    <a class="nav-link" href="/students" style="color: aliceblue; font-size: 20px; font-family: fantasy;">Students</a>
                </li> 
              
                <li class="nav-item dropdown"> 
                    <a class="nav-link dropdown-toggle" href="/courses" id="navbardrop" data-toggle="dropdown"  style="color: aliceblue; font-size: 20px; font-family: fantasy;">Courses</a> 
                      
                    <div class="dropdown-menu"> 
                        <a class="dropdown-item" href="/engineering">ENGINEERING</a> 
                        <a class="dropdown-item" href="/medical">MEDICAL</a> 
                        <a class="dropdown-item" href="/foundation">FOUNDATION</a> 
                    </div> 
                </li>
              
                <li class="nav-item">
                    <a class="nav-link" href="/gallery" style="color: aliceblue; font-size: 20px; font-family: fantasy;">Gallery</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/register" style="color: aliceblue; font-size: 20px; font-family: fantasy;">Register</a>
                </li>
            </ul>
        </div> 
    </nav>s

    <div id="GFG" class="carousel slide" data-ride="carousel"> 
      
    <!-- Indicators -->
    <ul class="carousel-indicators"> 
        <li data-target="#GFG" data-slide-to="0" class="active"></li> 
        <li data-target="#GFG" data-slide-to="1"></li> 
        <li data-target="#GFG" data-slide-to="2"></li>
        <li data-target="#GFG" data-slide-to="3"></li>  
    </ul> 
      
    <!-- The slideshow -->
    <div class="carousel-inner"> 
        <div class="carousel-item active"> 
            <img src="images/b1.png" alt="GFG" width="100%" height="400">    
        </div> 
          
        <div class="carousel-item"> 
            <img src= "images/b2.png" alt="GFG" width="100%" height="400"> 
        </div> 
          
        <div class="carousel-item"> 
            <img src= "images/b3.png" alt="GFG" width="100%" height="400"> 
        </div>

        <div class="carousel-item"> 
            <img src= "images/b4.png" alt="GFG" width="100%" height="400">   
        </div>

        <div class="carousel-item"> 
            <img src= "images/b5.jpg" alt="GFG" width="100%" height="400"> 
        </div> 
    </div> 
    </div>

    <div class="container">
        <h1>ABOUT AAKASH</h1>
        <p>Aakash Educational Services Limited (AESL) is a leading educational institution in India that provides comprehensive test preparatory services to students preparing for medical and engineering entrance exams, school/board exams, KVPY, NTSE, Olympiads and other Foundation level exams.
            The first centre under ‘Aakash’ was started in 1988 by Mr JC Chaudhry, offering coaching services for medical entrance examinations. Today, we are highly acknowledged for offering niche test preparatory services for medical as well as engineering entrance exams and foundation level exams through our distinct verticals namely, Aakash Medical, Aakash IIT-JEE and Aakash Foundations. We have a pan-India network of 200+ Aakash Centres and a Student Count of more than 250,000.</p>
        
        <h2>AAKASH MEDICAL</h2>
        <p>For more than 31 years, Aakash Medical has been nurturing the aspirations of students who dream about a career in medicine. Every year our students achieve top ranks and display excellent results in various medical entrance examinations such as NEET, AIIMS* and JIPMER*. For the last six years, our students have been securing All India Rank 1 in various medical entrance exams. Started as a single centre with just 12 students, today Aakash Institute is ranked as the No. 1 Coaching Institute among Top 25 Best Coaching Institutes in the country for preparation of medical entrance exams by India Today Magazine.</p>

        <h2>AAKASH IIT-JEE</h2>
        <p>Started in 2007, Aakash IIT-JEE prepares students for JEE (Main & Advanced) and other engineering entrance examinations. Through its integrated teaching methodology, focused learning environment and technology enabled-education, Aakash IIT-JEE provides cutting-edge educational solutions that help students to excel in their goals. Every year our students achieve top ranks and display excellent results in all the engineering entrance exams. Students aspiring to succeed in engineering entrance exams can trust Aakash IIT-JEE for quality and result-oriented test preparation.</p>

        <h2>AAKASH FOUNDATION</h2>
        <p>To nurture the aspirations of junior class students for various competitive and scholarship examinations such as NTSE, Olympiads, etc. and prepare them for school/board examinations, Aakash Foundations became functional in the year 2009. It is also the youngest division of AESL. Thanks to its innovative teaching methodologies, it has been constantly bearing the fruits of success and steering its students to the top echelons in School/Board as well as Foundation Level Competitive and Scholarship Exams. In addition, it lays a strong foundation for medical, engineering and other competitive examinations in advance.</p>

        <h2>PROGRAMS & SERVICES</h2>
        <p>We provide our services through classroom, digital and distance learning programs. Our Classroom Learning Programs ensure personalized attention and aim at developing the conceptual knowledge of our students. Our Digital Programs allow students to engage in self-paced learning and are quite popular among the tech-savvy generation. Our Distance Learning Programs (DLP) deliver the same content as delivered in classrooms in a cost-effective way and help students to study at their own pace and convenience. We also offer Short Term Classroom Courses for students who wish to brush up their knowledge just before the exams and gain an extra edge.</p>
        <p>We, at Aakash, always keep ‘Student First’ and strive hard to continue to meet the needs of our students. Our emphasis on maintaining the highest standards of teaching, result-oriented test preparation, healthy competitive environment, and expert faculty has helped us garner the trust of millions of students and parents</p>
        <p>AESL has been backed by global investment management firm Blackstone, which owns 37.5%. Blackstone will complement AESL team with its deep expertise and network in the education sector globally with its team of highly accomplished professionals with a proven track record of creating value.</p>
        <p><strong>About Blackstone:</strong>Blackstone is a global alternative asset manager. It is headquartered in the United States and has offices in a number of geographies, including Europe and Asia. Blackstone is listed on the New York Stock Exchange and operates as an investment management firm.</p>
    </div>
    <!-- Optional JavaScript -->
    <script type="text/javascript" src="script.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>